@import url('https://fonts.googleapis.com/css2?family=Forum&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');

body {

    margin: 0;
    background-color: #FCF9EE;
    font-family: Arial, Helvetica, sans-serif;
}


.cardapio {
    font-family: Libre Baskerville;
    text-align: center;
    padding: 8px;
    border-top: 12px black solid;
    font-family: Libre Baskerville;
    font-width: 700px;
}

.bebidas-quentes {
    img {
        width: 300px;
        width: 300px;
        border: 5px solid black;



    }

}


.bebidas-geladas {
    img {
        width: 300px;
        width: 300px;
        border: 5px solid black;
        border-radius: 10%;

    }


}


.quentes {

    justify-content: center;
    display: flex;
    gap: 150px;


}

.fria {
    justify-content: center;
    display: flex;
    gap: 150px;

}

.titulo-quentes {
    text-align: center;
    font-family: Libre Baskerville;

    h1 {
        margin-top: 0%;
        margin-bottom: 70px;
    }

}

.titulo-fria {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: Libre Baskerville;

    h1 {
        margin-top: 0%;

    }


}



.bebidas-quentes img,
.bebidas-geladas img {
    width: 300px;
    border: 5px solid black;
    border-radius: 10%;
    transition: transform .4s ease;
    cursor: pointer;



}


.bebidas-quentes img:hover,
.bebidas-geladas img:hover {
    transform: translateY(-12px) scale(1.05);
    box-shadow: 0 15px 30px rgba(139, 69, 19, 0.4);
}








.titulo-embaixo {
    text-align: center;
    font-size: 20px;


}

.j {
    text-align: center;
    font-style: italic 20px;
    max-width: 310px;

}





header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
    background: #f4f4f4;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}


.todo-links,
.icones-super {
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    color: #b89b73;

}



.todo-links a,
.icones-super a {
    font-size: 20px;
    color: #b89b73;
    text-decoration: none;
}

.icones-super i {
    font-size: 24px;
    color: #b89b73;
}


@media (max-width: 1200px) {
    header {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 768px) {

    .logo,
    .topo-links {
        flex-direction: column;
    }
}




.rodape{
    footer {
        display: flex;
     justify-content: center;
     background: #b89b73;
    padding: 20px;
    border-top: 5px solid #faedcd;
    
    }
}

footer{
    background:#6d3c11;
    color:white;
    padding:40px;
}

.rodape{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:40px 100px;
}

.bloco a{
    display:block;
    color:white;
}

.rodapefim{
    text-align:center;
    margin-top:30px;
}